git+https://github.com/jupyterhub/the-littlest-jupyterhub@1.0.0
git+https://github.com/RCOSDP/CS-binderhub.git@master
jupyterhub>=4
alembic>=1.13.0,<1.14
pytest
pytest-aiohttp
pytest-asyncio
pytest-cov
pytest-jupyterhub
requests-mock
